<div class="banner">
    {{!-- Nav Bar --}}
    <div class="row">
        <div class="col s12">
            <ul class="right">
                <li><a href="/login" class="deep-orange darken-4 btn waves-effect waves-light">Log In</a></li>
            </ul>
        </div>
    </div>
    <!-- Banner -->
    <div class="row valign-wrapper">
        <div class="col s12 center-align">
            <h1>Full Keto</h1>
        </div>
    </div>
</div>
<!-- Main Content -->
<div class="row" id="main-page">
    <!-- Tabs for search forms -->
    <div class="col s12 tab-wrapper">
        <ul class="tabs">
            <li class="tab col s6">
                <a href="#recipe-search">Keto Recipes</a>
            </li>
            <li class="tab col s6">
                <a href="#ingredient-search">Is it Keto?</a>
            </li>
        </ul>
    </div>
    <!-- Recipe Search Form -->
    <div id="recipe-search" class="col s12">
        <div class="section">
            <h4 class="center-align"><u>Keto Recipes</u></h4>
        </div>
        <form class="row valign-wrapper search-form" id="recipe-search-form">
            <div class="col s7 offset-s2 input-field">
                <i class="material-icons prefix">search</i>
                <input id="search-input" type="text" class="validate" required>
            </div>
            <div class="col s3">
                <button type="submit" class="deep-orange darken-4 waves-effect waves-light btn"id="search-button">Search</button>
            </div> 
        </form>
        <div class="row">
            <div class="col s4 offset-s4 center-align">
                <a class="deep-orange darken-4 waves-effect waves-light btn" id="random-button">Get Random Recipes</a>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row center-align search-results-wrapper">
                <!-- Recipe Searching Loader -->
                <div class="preloader-wrapper active hide" id="recipe-search-loader">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <!-- Recipe Search Results -->
                <div id="recipe-search-results"></div>
            </div>
            <div class="row center-align">
                <ul class="pagination hide">
                    <li class="disabled" id="pagination-start"><a href="#recipe-search-form"><i class="material-icons">chevron_left</i></a></li>
                    <li class="waves-effect" id="pagination-end"><a href="#recipe-search-form"><i class="material-icons">chevron_right</i></a></li>
                </ul>  
            </div> 
        </div>
    </div>
    <!-- Food Search Form -->
    <div id="ingredient-search" class="col s12">
            <div class="section">
                <h4 class="center-align"><u>Is it Keto?</u></h4>
                <h6 class="center-align grey-text">Keep Daily Net Carbs under 20g!</h6>
            </div>
            <form class="row valign-wrapper search-form" id="food-search-form">
                <div class="col s7 offset-s2 input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="food-input" type="text" class="validate" required>
                </div>
                <div class="col s3">
                    <button type="submit" class="deep-orange darken-4 waves-effect waves-light btn" id="food-search-button">Search</button>
                </div>
            </form>
            <br>
            <div class="container">
                <div class="row center-align search-results-wrapper">
                    <!-- Food Searching Loader -->
                    <div class="preloader-wrapper active hide" id="food-search-loader">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Food Search Results -->
                    <div id="food-search-results"></div>
                    <div class="col s12 m6 result">
                        <ul class="collapsible popout" id="branded-results"></ul>
                    </div>
                    <div class="col s12 m6 result">
                        <ul class="collapsible popout" id="common-results"></ul>
                    </div>
                </div>
            </div>
    </div>
</div>
{{!-- Spacer to make footer stick to bottom --}}
<div class="spacer"></div>
<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col l6 s12">
                <h5 class="white-text">Our Mission</h5>
                <p class="grey-text text-lighten-4">Make keto easier!</p>
            </div>
            <div class="col l4 offset-l2 s12 right-align">
                <div id="edamam-badge" data-color="white"></div> 
                <img src="img/NutritionixAPI_hires_flat.png" width="200" id="nutritionix-badge">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
        © 2018 Jover Lee
        </div>
    </div>
</footer>