<div class="row valign-wrapper" id="loginPage">
    <div class="col s12 m4 pull-m4 white z-depth-3" id="loginBox">
        <div class="section center-align white-text deep-orange darken-4">
            <h4>Full Keto</h4>
        </div>
        <div class="center-align section">
            <div>To continue, log in to Full Keto</div>
            <a href="/auth/google"><img src="/img/btn_google_signin_light_normal_web.png"></a>
            <div>OR</div>
            <form class="row" id="sign-in-form">
                <div class="col s10 push-s1">
                    <input type="email" placeholder="Email address">
                </div>
                <div class="col s10 push-s1">
                    <input type="password" placeholder="Password">
                </div>
                <div class="col s4 push-s4">
                    <button type="submit" class="btn deep-orange darken-4">Log In</button>
                </div>
            </form>
        </div>
        <div class="divider grey lighten-2"></div>
        <div class="section center-align">
            <div><h5>Don't have an account?</h5></div>
            <a href="#" class="btn white deep-orange-text text-darken-4 hoverable">Sign Up</a>
        </div>
        <div class="section center-align white-text deep-orange darken-4">
            <small>If you click "Sign in with Google" and are not a Full Keto user, you will be registered.</small>
        </div>
    </div>
</div>