<div class="valign-wrapper" id="newUserPage">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s10 push-s1">
                <h2 class="yellow-text text-accent-2"><strong>Welcome to Full Keto!</strong></h2>
                <h4 class="yellow-text text-accent-2">Your default username is: {{username}}</h4>
                <div class="section"></div>
                <form class="row valign-wrapper section">
                    <div class="col s12">
                        <h5 class="white-text">Create New Username: </h5>
                        <input type="text" placeholder="New Username">
                        <a class="btn red">Submit</a>
                    </div>
                </form>
                <div class="row section">
                    <div class="col white-text">
                        <h5>OR</h5>
                    </div>
                </div>
                <div class="row">
                     <div class="col s12">
                        <a href="/" class="btn red">Keep Username</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>